/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/merriweather/merriweather-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/merriweather/merriweather-v28-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../assets/fonts/merriweather/merriweather-v28-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/merriweather/merriweather-v28-latin-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/merriweather/merriweather-v28-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/merriweather/merriweather-v28-latin-700.svg#Merriweather')
      format('svg'); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter/inter-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/inter/inter-v7-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/inter/inter-v7-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/inter/inter-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/inter/inter-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/inter/inter-v7-latin-regular.svg#Inter')
      format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter/inter-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/inter/inter-v7-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/inter/inter-v7-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/inter/inter-v7-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/inter/inter-v7-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/inter/inter-v7-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* pre-prop */

.footer {
  background: red;
}

:root {
  --bg-color: #000000;
  --gold: #bdae82;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  min-height: 100vh;
  color: var(--white);
  background: var(--bg-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header start */

.header {
  position: absolute;
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  background-image: url('../assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 100%;
  width: 500px;
}

.nav-item {
  margin-right: auto;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  transition: 0.3s;
}

.lng-list {
  display: flex;
  flex-direction: row;
  width: 70px;
  max-width: 100%;
  list-style: none;
}

.lng-item {
  margin-right: auto;
}

.lng-item:last-child {
  margin-right: 0px;
}

.logo {
  background-image: url('../assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 50px;
  height: 50px;
}

.inter-icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--gold);
}

/* header end */

/* hero start */

.hero {
  height: 100vh;
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.hero-container {
  margin-left: 60px;
}

.hero-title {
  padding-top: 250px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  max-width: 500px;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  max-width: 470px;
  margin-bottom: 25px;
}

.btn {
  /* margin: 10px 0px; */
  padding: 8px 70px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  width: 220px;
  height: 55px;
  color: var(--bg-color);
  transition: 0.3s;
}

.btn:hover,
.btn:active {
  color: var(--white);
}

.golden {
  background-color: var(--gold);
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 50%;
  margin-bottom: 60px;
}

.section-title {
  color: var(--gold);
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 200%;
  text-align: center;
  overflow-x: hidden;
}

.section-title::before,
.section-title::after {
  content: '';
  display: inline-block;
  position: relative;
  border: 1px solid var(--gold);
  width: 50%;
  vertical-align: middle;
}

.section-title::before {
  right: 20px;
  margin-left: -50%;
}
.section-title::after {
  left: 20px;
  margin-right: -50%;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.skill-item {
  background-position: center top;
  background-repeat: no-repeat;
  width: 320px;
  height: 240px;
  padding: 0px 20px 8px;
}

.skill-title {
  margin-top: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  margin-bottom: 20px;
}

.skill-subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
}

.skill-item:nth-child(1) {
  background-image: url('../assets/svg/camera.svg');
  background-size: 62px 50px;
}

.skill-item:nth-child(2) {
  background-image: url('../assets/svg/video.svg');
  background-size: 62px 50px;
}

.skill-item:nth-child(3) {
  background-image: url('../assets/svg/image.svg');
  background-size: 62px 50px;
}

.skill-item:nth-child(4) {
  background-image: url('../assets/svg/mic.svg');
  background-size: 62px 50px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 60px;
}

.black {
  background-color: var(--bg-color);
  color: var(--gold);
  border: 2px solid var(--gold);
}

.photo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.photo {
  width: 450px;
  height: 560px;
}

.photo:nth-child(1),
.photo:nth-child(2),
.photo:nth-child(3),
.photo:nth-child(4),
.photo:nth-child(5),
.photo:nth-child(6) {
  background-size: cover;
  background-repeat: no-repeat;
}

.photo:nth-child(1) {
  background-image: url('../assets/img/portfolio-img-1.jpg');
}

.photo:nth-child(2) {
  background-image: url('../assets/img/portfolio-img-2.jpg');
}
.photo:nth-child(3) {
  background-image: url('../assets/img/portfolio-img-3.jpg');
  background-position: -4px 0px;
  background-size: 458px;
}
.photo:nth-child(4) {
  background-image: url('../assets/img/portfolio-img-4.jpg');
}
.photo:nth-child(5) {
  background-image: url('../assets/img/portfolio-img-5.jpg');
}
.photo:nth-child(6) {
  background-image: url('../assets/img/portfolio-img-6.jpg');
}

.section {
  margin-bottom: 100px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-player {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-button {
  position: absolute;
  background-image: url('../assets/svg/play_hover.svg');
  width: 130px;
  height: 130px;
  transition: 0.3s;
  top: 288px;
  left: 636px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  width: 450px;
  height: 505px;
  border: 1px solid var(--gold);
  padding: 43px;
  text-align: center;
}

.card-title {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 200%;
  margin-bottom: 20px;
}

.card-price {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 200%;
  text-align: center;
  color: var(--gold);
  margin-bottom: 20px;
}

.card-about {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
}

.card-about:nth-of-type(5) {
  margin-bottom: 40px;
}
